@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Geral */
* {
   margin: 0;
   padding: 0;
   font-family: Poppins;
   font-weight: 600;
}

/* Cabeçalho */
.header {
   background-color: #cacaca;
   display: flex;
   justify-content: space-between;
   padding: 20px;
   user-select: none;
   position: sticky;
   top: 0;
}

.mobile {
   display: none;
   position: sticky;
   top: 70px;
}

.nav ul {
   display: flex;
   flex-direction: row;
   list-style-type: none;
}

.nav i {
   display: none;
}

.nav ul li {
   padding: 5px;
   margin: 0 30px;
   font-size: 23px;
}

.nav ul li:hover {
   cursor: pointer;
   transform: scale(1.4);
   transition: 0.3s;
}

.header .nav ul li a {
   text-decoration: none;
   color: black;
}

.nav ul li:not(:hover) {
   transform: scale(1);
   transition: 0.3s;
}

.about {
   text-align: center;
   margin: 200px auto 0 auto;
   font-size: 30px;
   width: 80%;
}

.about h1 {
   margin-top: 100px;
}

.footer {
   background-color: black;
   color: white;
   padding: 30px;
   display: flex;
   justify-content: space-between;
   position: relative;
   margin-top: 200px;
}

.social {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 100px;
}

img {
   filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(212deg) brightness(104%) contrast(104%);
}

#i1 {
   width: 25px;
   height: 25px;
}

#i2 {
   width: 25px;
   height: 25px;
}

@media (max-width: 700px) {

   body>h1 {
      margin-top: 100px;
   }

   .header h1 {
      font-size: 20px;
   }

   .nav ul {
      display: none;
   }

   .mobile {
      background-color: #cacaca;
      display: flex;
      /* padding: 50px 0; */
      justify-content: space-around;
      height: 0;
      transition: 0.5s ease-in-out;
      overflow: hidden;
   }

   .mobile.show {
      background-color: #cacaca;
      padding: 50px 0;
      justify-content: space-around;
      height: 200px;
   }

   .mobile ul {
      list-style: none;
   }

   .mobile ul li {
      margin: 50px 0;
   }

   .mobile a {
      color: black;
      font-size: 30px;
      text-decoration: none;
   }


   .nav {
      align-items: center;
      justify-content: center;
   }

   .nav i {
      margin-right: 20px;
      display: block;
      font-size: 30px;
   }
}
